
section {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

* ::-webkit-scrollbar{
  display: none; /* Chrome, Safari, Opera*/
}

.chatRoom_page {
  display: flex;
}

.chatRoom_container {
  background-color: #ECF9FF;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatNave{
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatNave img {
  width: 250px;
}


 .chat_log {
  /* width: 35%; */
  /* margin: 5% auto; */
  display: inline-block;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 2%;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  border: none;
  border-bottom: 3px solid rgb(177, 177, 255);
  border-radius: 10px;
  position: relative;
  white-space:pre-line;
  word-break:break-all;
} 
  


  .Right {
    background: #00bfb6;
    color: #fff;
    border-bottom: 3px solid rgb(177, 177, 255);
  }
  
  .Left{
    background: #9bc3ff;
    color: #fff;
    text-align: center;
    border-bottom: 3px solid rgb(177, 177, 255);
  }
  
  .Right:before {
  content: "";
  text-align: right;
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
  }
  
  .Left:before {
  content: "";
  text-align: left;
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #9bc3ff;
  border-top: 15px solid #9bc3ff;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
  } 

.chat_input {
  /* display: flex; */
}

.notice{
  text-align: center;
  background-color: rgba(97, 210, 255, 0.2);
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  margin: 0 auto;
  padding: 2px;
}

.chat_input input {
  position: relative;
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 15px;

}

.chat_input input::placeholder {
  font-size: small;
  padding: 20px;
  vertical-align:middle;
}

.sendBtn {
  position: absolute;
  border: none;
  background-color: #43C2E3;
  background-image: url('/src/assets/send.png');
  background-size: 25px; 
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  right: 5%;
  cursor: pointer;
}

.chat_input button:hover {
  transform: scale(1.1);
}

.chat-box-body {
  position: relative;
  height: 500px;
  overflow: auto ;
}

.chat-box-body::-webkit-scrollbar {
  display: none;
}

.form{
  display: flex;
  justify-content: center;
}

.nick{
  /* position: absolute; */
  font-size: 15px;
  font-weight: 600;
  color: rebeccapurple;
  /* text-align: right; */
  /* margin: 0px 12%; */
}


.totime{
  /* position: absolute; */
  display: block;
  /* margin: 0px 11%;
  margin: 15px 0px; */
  /* text-align: right; */
  font-size: smaller;
  color: rebeccapurple;
}

.incoming {
  /* position: absolute; */
  width: 50%;
  height: 100%;
  padding: 20px;
  background: lighten(dark, 23%);
}

.dm {
  background: #fec3ff;
}

.my-dm {
  background: #71d7ff;
}

.my-dm:before {
  content: "";
  text-align: right;
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #71d7ff;
  border-right: 15px solid transparent;
  border-top: 15px solid #71d7ff;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
  }
  
  .dm:before {
  content: "";
  text-align: left;
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #fec3ff;
  border-top: 15px solid #fec3ff;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
  } 