.chatNave_container {
  background-color: #fff;
  padding: 0;
  width: 100vw;
  position: absolute;
  height: 60px;
}

.chatNave {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 4px 40px !important;
}

.chatNave img {
  cursor: pointer;
}

.chatNave button {
  background-image: url('/src/assets/exit.png');
  background-color: #ea7575;
  background-position: 50%;
  background-position-x: 12px;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.form {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .chatnave button {
    background-position-x: 8px;
    background-size: 18px;
    border-radius: 20px;
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 880px) {
  .chatNave {
     margin: 8px 40px !important;
  }
  .chatNave img {
    width: 150px;
    margin: 5px auto;
  }

  .main_notice {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  /* .chatNave {
    margin: 0px 10px;
  } */
  .main_notice {
    display: none;
  }
}
