section {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

* ::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
  background-color: #ecf9ff;
}

body {
  background-color: #ffffff;
}

.chatRoom_page {
  display: flex;
  height: 100vh;
}

.chatRoom_container {
  background-color: #ecf9ff;
  display: flex;
  flex-direction: column;
  padding: 90px 30px 0 0;
  width: 100vw;
}

/* chatNave */
.chatNave {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 왼쪽 상단 로고 이미지 */
.chatNave img {
  width: 130px;
}

/* 채팅 로그 */
.chat_log {
  max-width: 350px;
  display: inline-block;
  border-radius: 15px;
  background: #fff0a4;
  padding: 2%;
  color: #00485a;
  font-size: 15px;
  font-weight: 550;
  border: none;
  border-bottom: 4px solid rgb(177, 212, 255);
  border-radius: 10px;
  white-space: pre-line;
  word-break: break-all;
}

.time {
  margin-bottom: 30px;
}
.Right {
  margin-left: auto;
}

.Left {
  background: #ffffff;
  color: #00485a;
  margin-right: auto;
}

.nick {
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(85, 115, 143);
}

.time {
  margin-right: 12px;
  margin-top: 5px;
  color: rgb(97, 141, 182);
  font-size: 12px;
}

.dm {
  background: #ffe7ff;
  border-bottom: 4px solid rgb(255, 177, 250);
}

.my-dm {
  background: #ffd1b0;
  border-bottom: 4px solid rgb(255, 166, 83);
}

.my-dm-right {
  display: flex;
  margin-left: auto;
}

/* 입,퇴장 공지 */
.notice {
  text-align: center;
  background-color: rgba(97, 210, 255, 0.2);
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  margin: 2px auto;
  padding: 2px 15px;
  border-radius: 3px;
}

/* 채팅 로그 추가 되는 곳 */
.chat-box-body {
  padding: 0px 120px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 73vh;
  overflow: auto;
}

.chat-box-body::-webkit-scrollbar {
  display: none;
}

.form {
  display: flex;
  justify-content: center;
}

/* 메세지 입력 */
.chat_input {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
}

.chat_input input {
  width: 58vw;
  height: 50px;
  border: none;
  border-radius: 15px;
  padding-left: 10px;
  min-width: 400px;
  margin-bottom: 20px;
  margin: 0 10%;
}

.chat_input input::placeholder {
  font-size: small;
  padding: 20px;
  vertical-align: middle;
}

.chat_input input:focus {
  outline: solid #71d5ff;
}

.chat_input button:hover {
  transform: scale(1.1);
}

/* 메세지 전송 버튼 */
.sendBtn {
  position: absolute;
  border: none;
  background-color: #43c2e3;
  background-image: url('/src/assets/send.png');
  background-size: 25px;
  background-position: center;
  background-position-x: 15px;
  background-repeat: no-repeat;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  right: 8vw;
  cursor: pointer;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* 이모지 셀렉 */
.emoji_btn {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('../assets/emoji.png');
  opacity: 0.4;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  z-index: 1;
  margin-left: 53%;
  right: 13vw;
  margin: 10px 10px;
  cursor: pointer;
}

/* 이모지 피커 */
.Picker {
  display: block;
  position: absolute;
  margin: -445px 0 0 400px;
}

/* 파일 업로드 이미지 */
.img img {
  width: 350px;
}

.upload_botton {
  position: absolute;
  background-color: transparent;
  background-image: url('../assets/up.png');
  opacity: 0.5;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  right: 16vw;
  cursor: pointer;
  margin: 10px 10px;
  border: none;
}

/* 셀렉트 박스 */
#members {
  background-color: #ffffff99;
  border: none;
  border-radius: 5px;
  color: #4f4f4f;
  cursor: pointer;
  font-size: 12px;
  height: 25px;
  margin-bottom: 10px;
  margin-left: 11%;
  padding: 0 5px;
  width: 80px;
}

option {
  padding: 10px;
}
.chat_input p {
  margin: 5px;
}

/* 공지 올리는 버튼 */
.notice_botton {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url('../assets/notice.png');
  opacity: 0.5;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 30px;
  height: 35px;
  right: 19vw;
  cursor: pointer;
  margin: 10px 10px;
}

.toggle {
  right: 15%;
  display: none;
  position: absolute;
  border: none;
  font-size: 20px;
  line-height: 10px;
}

.toggleDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 15vw;
  margin-top: -105px;
  border: none;
}

.toggleDiv button {
  border: none;
}

.emojiBtn {
  opacity: 0.5;
  background-color: transparent;
  background-image: url('../assets/emoji.png');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 35px;
  cursor: pointer;
}

.uploadBtn {
  opacity: 0.5;
  background-color: transparent;
  background-image: url('../assets/up.png');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 35px;
  cursor: pointer;
}

.noticeBtn {
  opacity: 0.7;
  background-color: transparent;
  background-image: url('../assets/notice.png');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 35px;
  cursor: pointer;
}

.uploadBtn {
  display: none;
}

.noticeBtn {
  display: none;
}

.emojiBtn {
  display: none;
}

/* 반응형 */
@media screen and (min-width: 1300px) {
  .emoji_btn {
    right: 12vw;
  }

  .upload_botton {
    right: 14vw;
  }

  .notice_botton {
    right: 16vw;
  }
}

/*1000px이하*/
@media screen and (max-width: 1000px) {
  .uploadBtn {
    display: block;
  }
  .noticeBtn {
    display: block;
  }

  .emojiBtn {
    display: block;
  }

  .notice {
    font-size: 12px;
  }

  .chat_log {
    font-size: 14px;
  }

  .nick {
    font-size: 11px;
  }
  .time {
    font-size: 8px;
  }

  .chat-box-body {
    padding: 0px 100px;
  }
  .sub_btn {
    display: none;
  }
  .toggle {
    display: block;
    margin: 10px auto;
    border-radius: 15px;
    right: 15vw;
    width: 30px;
    height: 30px;
    border: none;
  }

  /* .chatNave img {
    width: 150px;
  } */

  .chatNave p {
    font-size: smaller;
  }

  .chatNave button {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-size: 18px;
    background-position-x: 10px;
  }

  .sellPage > section > .AvailSaleContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #members {
    right: 57%;
  }
}

@media screen and (max-width: 880px) {
  #members {
    right: 75%;
  }
  .toggleDiv {
    right: 25%;
  }

  .chat_input input::placeholder {
    font-size: 9px;
  }
}

@media screen and (max-width: 879px) {
  .Picker {
    margin: -445px 0 0 120px;
    z-index: 10;
  }
  
  .sendBtn {
    margin: 0px auto;
    right: 18vw;
  }

  .toggle {
    right: 25vw;
  }

  #members {
    margin-left: 20%;
  }
}

@media screen and (max-width: 780px) {
  .form {
    justify-content: center;
  }
  .img img {
    width: 150px;
  }

  .notice {
    font-size: 10px;
  }

  .chat_log {
    padding: 8px 8px;
    font-size: 12px;
  }

  .toggle {
    right: 18vw;
    border: none;
  }
  .noticeBtn {
    display: none;
  }

  .chat-box-body {
    padding: 0px 80px;
  }

  .chat_log {
    max-width: 150px;
  }
  #members {
    width: 65px;
    right: 68vw;
  }

  .toggle {
    right: 26vw;
    border: none;
  }

  .emojiBtn {
    position: absolute;
    right: 1vw;
    margin: 2px 0;
  }
  .uploadBtn {
    position: absolute;
    right: 6vw;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .chat_input {
    padding-bottom: 40px;
  }

  .form {
    justify-content: flex-start;
  }

  #members {
    position: relative;
    right: 43px;
  }
  .toggle {
    position: relative;
    right: 160px;
    min-width: 30px;
  }
  .sendBtn {
    position: relative;
    background-size: 18px;
    background-position-x: 10px;
    right: 65px;
    min-width: 40px;
    min-height: 52px;
    border-radius: 3px;
    /* margin: 5px 30px; */
  }
}
