/* .main_container {
  width: 100%;
  height: 100%;
} */

.backImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    animation-name: backImg;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    object-fit: cover;
}

@keyframes backImg {
  0%   {transform:  translatey(0px)}
  50%  {transform: translatey(-20px)}
}

.info_container {
  position: absolute;
  top: 50%;
  transform: translate(33vw, -50%);

  padding: 30px 0px;
  margin: 0 auto;
  width: 35vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin {
  margin-bottom: 20px;
}

.margin input {
  width: 18vw;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 0.5px solid;
  text-align: center;
  font-size: 15px;
  color: #565656;
}

.margin input::placeholder {
  font-size: small;
  text-align: center;
  vertical-align:middle;
}

.margin input:hover {
  border-radius: 5px;
  border: none;
  outline: solid #71d5ff;
}

.margin button {
    color: #565656;
    font-size: 14px;
    font-weight: 550;
    width: 12vw;
    height: 50px;
    background-color: #B7E1F3;
    border: none;
    border-radius: 35px;
    box-shadow: 3px 3px 6px rgba(63, 80, 97, 0.1);
    cursor: pointer;
    outline: none;
}

.margin button:hover {
  background-color: #FFAF9C;
  box-shadow: 3px 3px 6px rgba(229, 46, 52, 0.1);
  color: #fff;
}

.margin img {
  width: 150px;
  width: 25vw;
  margin: -10px;
}

* {
  font-family: "Pretendard-Regular";
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}